.nav {
    grid-area: nav;
    background-color: #e7c54d;
    padding: 10px 20px;
}

.item {
    font-size: 20px;
    margin-bottom:  15px;
}

.item a {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

a.active {
    color: red;
}